*{
	padding: 0;
	margin: 0;
}

body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

header{
	background-color: #35424a;
}

header .header-container{

background: url('../images/travel.jpg') no-repeat ;
height: 450px;
background-position: cover;
margin: 0;
}

header .travel-title{
    color: white;
    text-align: center;
     padding-top: 20px;
     position: relative;
     top: 15%;
}
header .travel-title a{
	background-color: orange;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	color: white;

	margin-top: 15px;
	text-decoration: none;
}


header .travel-title a .active{
	background: orange;
	padding: 8px;
}
header .address-header{
float: left;
margin: 0;
}
header nav ul li{
   float: left;
   display: inline;
   
   padding: 0 20px 0 20px;
   list-style: none;
   border: 1px solid white;
   margin-right: 20px;
   margin-top: 20px;
   }
   header nav ul .active{
   	background: orange;
   }
   header nav ul li:hover{
   	background-color: orangered;
   	transition: 0.3s;
   }
header nav ul li a{
	text-decoration: none;
	color: white;
}

header nav{
	float: right;
	margin-right: 15px;
    padding-bottom: 50px;
    margin-top: 15px;
}

.address-header h1{
	color: #e8491d;
	padding-top: 30px;
	padding-left: 35px;
}
.travel-title-book{
	position: relative;
	top: 10%;
	padding-top: 50px;
	text-align: center;
}
.travel-title-book a{
	background-color: orange;
	padding: 20px 30px;
	text-decoration: none;
	color: white;
	border-radius: 7px;
	cursor: pointer;
}
/* about us */
#about-us{
	color: black;
}
.aboutus-container{
	background-color: #e6e6e6;
	height: 200px;
	padding: 10px;
	width: 100%;
	text-align: center;
	padding-top: 55px;
}
.aboutus-container h3{
	margin-bottom: 10px;
	font-size: 35px;
	color: ##e8491d; 
}
/* end about us */
/* category */
#category{
	margin-top: 20px;

}
.category-container{
	margin-bottom: 50px;
}
.category-container h2{
  text-align: center;

}
.category-item{
	float: left;
	width: 30%;
	text-align: center;
	padding: 10px; 
	margin-bottom: 20px;
}
.category-item h3{
	margin-top: 15px;
	margin-bottom: 15px;
	color: 
}
.category-item img{
	width: 250px;
	border-radius: 50%;
   height: 200px;
}
.category-item a{
	background-color: orange;
	padding: 15px 20px 15px 20px;
	border-radius: 7px;
	margin-top: 15px;
	color: white;
	text-decoration: none;
}
.category-container{
	margin-top: 20px;
}
.category-container h2{
	margin: 20px 0px;
}
/* end category */

/*footer*/

footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: black;
	color: white;

	
	padding: 15px;
}
footer .footer-item{
	margin-left: 30px;
}
footer ul li{
  list-style: none;
  line-height: 2.5rem;
}
footer ul li a{
	text-decoration: none;
}
/*end footer*/
.copyright{
	background-color: #e8491d;
	padding: 10px;
	text-align: center;
	color: #ffffff;
}

/* login form*/

.form-wrapper{
	background: url('../images/Darjeeling.jpg') no-repeat ;
	background-position: cover;
	height: 600px;

}
.form-wrapper form{
	width: 350px;
	background-color: brown;
    opacity: 0.8;
	position: relative;
	top: 30%;
	left: 35%;
	padding: 30px;
	height: 300px;
    border-radius: 7px;
}
.form-wrapper form .form-item{
	padding: 10px;
}

.form-wrapper form legend{
	text-align: center;
	color: white;
	margin-bottom: 15px;
	font-size: 24px;
}
.form-wrapper form .form-item input[type="text"],input[type="password"]{
     width: 100%;
     padding: 6px;
}
.form-wrapper form input[type="submit"]{
     width: 100%;
     padding: 10px;
     background: orange;
     outline: none;
     cursor: pointer;
     margin-left: 5px;
     margin-top: 15px;
}
.form-wrapper form label{
	color: white;
	font-size: 18px;
}
.form-wrapper form p{
	color: white;
	text-align: center;
	margin-top: 15px;
}

.form-wrapper form a{
	font-weight: bolder;
}

.footer #login-footer{
    margin-top: 0px;

}
/* end form*/

.book-wrapper{
	background: #e6e6e6;
	margin: 0;
	padding: 0;
     height: 900px;
}

.book-wrapper form{
	width: 430px;
	background: blue;
	padding: 10px;
	position: relative;
	left: 35%;
	top: 10%;
}
.book-wrapper form legend{
   color: orange;
   text-align: center;
   font-size: 24px;
   margin-bottom: 20px;
   border-bottom: 1px solid red;
   width: 100%;
}
.book-wrapper form .book-wrapper-item{
	padding-top: 15px;
}
.book-wrapper form input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
	width: 90%;
	padding: 7px;
}
.book-wrapper form label{
	color: white;
	font-size: 18px;
}
.book-wrapper form select{
	width: 95%;
	padding: 7px;
}
.book-wrapper textarea{
	width: 95%;
}
.book-wrapper input[type="submit"]{
	padding: 10px;
	width: 96%;
	margin-top: 10px;
	background-color: red;
	outline: none;
	color: white;
}
.book-wrapper p{
	color: white;
	text-align: center;
}
.book-wrapper a{
	text-decoration: none;
	color: red;
}


/*register*/
.register-form{
	height: 650px;
	background-color: orange;
	margin-bottom: 5px;
	margin-top: 5px;
	opacity: 0.8;
}
.register-form form{
	width: 550px;
	padding: 10px;
	position: relative;
	left: 30%;
	top: 10%;
	line-height: 2rem;
	padding-left: 10px;
	color: white;
}
.register-form form fieldset{
	padding: 10px;
   border: 1px solid white;
}
.register-form form fieldset legend{
	text-align: center;

}

.register-form form fieldset h3{
	text-align: center;
    color: blue;
    font-size: 24px;
}

.register-form form input[type="text"],input[type="password"],input[type="email"]{
	width: 90%;
	padding: 7px;
}
.register-form form input[type="submit"]{
	width: 93.5%;
	padding: 7px;
	margin-top: 10px;
	background-color: blue;
	color: white;
	border: none;
	opacity: 0.5;
	cursor: pointer;
}
.register-form form input[type="submit"]:hover{
	opacity: 1;
   cursor: pointer;
   transition: 0.3s;

}

.register-form form button{
	margin-top: 10px;

}
.register-form form p{
	margin-top: 10px;
}
/* end register */

/* places */

 .places-matter{
 	width: 80%;
 	background: white;
 	position: relative;
 	left: 10%;
 }
 .places-item {
 	border-bottom:  7px solid #e6e6e6;
 }
  .places-item img{
  	width: 250px;
  	height: 200px;
  }

  .credits-wrapper{
  	background-color: #e6e6e6;
  	width: 80%;
  	position: relative;
  	left: 10%;
  	padding: 10px;
  }

  .credits-wrapper h3{
  	text-align: center;
  	color: orange;
  	font-size: 24px;
  	font-family: cursive;
  }
  .credits-wrapper ul li{
  	list-style: none;
  	padding: 30px 0px;

  }